<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'smile/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'smile/style.css' %}">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <ul class="nav nav-pills UL">
        <li class="nav-item L"><a href="https://www.wildberries.ru/seller/4308593" class="nav-link active bg-dark"> НАШИ ТОВАРЫ ВБ</a></li>
        <li class="nav-item L"><a href="https://www.ozon.ru/collection/karnavalnaya-tkanevaya-maska-99286575/" class="nav-link active bg-secondary"> НАШИ  ТОВАРЫ ОЗОН</a></li>
        <li class="nav-item L"><a href="https://market.yandex.ru/business--smekhliandiia/205367440?generalContext=t%3DshopInShop%3Bi%3D1%3Bbi%3D205367440%3B&how=rating&rs=eJwzEn7ByPiJkZeDUWDhIVYJBo1fD0_KAwA-_wa0&searchContext=sins_ctx" class="nav-link active bg-dark"> НАШИ ТОВАРЫ ЯНДЕКС МАРКЕТ</a></li>
        <li class="nav-item L"><a href="#footer" class="nav-link active bg-secondary"> НАШ ТГ БОТ</a></li>
      </ul>
    </header>
  </div>
</body>
</html>